<%= render 'components/navbar' %>
<h2 class='section-headline'>Your profile</h2>
</div>
<div class="profile-wrapper">

  <div class="profile-container">

    <div class="profile glass">

      <div class="profile-left">

        <div class="profile-avatar">
          <%= cl_image_tag current_user.photo.key %>
        </div>

        <div class="profile-details">

          <h5><%=@user.email%></h5>
          <p>Size of your capy fleet: <%=@user.capybaras.size%></p>
          <p>You booked <%=@user.bookings.size%> capybaras so far!</p>
          <% sum = 0 %>
          <% @user.capybaras.each { |capybara| sum += capybara.bookings.size} %>
          <p>You rented out <%=sum%> capybaras so far!</p>
        </div>
      </div>

      <div class="capybara-details">
        <h5>Your capybaras:</h5>
        <div class="capybara-icons">
          <% @capybaras.each do |capybara| %>
            <%= link_to capybara_path(capybara), class: "capybara-link" do %>
              <%= cl_image_tag capybara.photo.key %>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>

    <div class="manage manage-products">
      <div class="manage-container">
        <img src="assets/capy-icon.png" alt="capybara icon" width="70" height="70">
        <p>Grow and expand your capybara fleet</p>
      </div>
      <a class="btn btn-success btn-lg" href="<%=new_capybara_path%>">Add new capybara</a>
    </div>

    <div class="manage manage-bookings">
      <div class="manage-container">
        <img src="assets/calendar.png" alt="calendar icon" width="70" height="70">
        <p>Get an overview of all your bookings</p>
      </div>
      <a class="btn btn-success btn-lg" href="<%=bookings_path%>">Manage bookings</a>
    </div>

  </div>
</div>
