<%= render 'components/navbar' %>
<h2 class='section-headline'>Your profile</h2>
</div>
<div class="profile-wrapper">

  <div class="profile-container">

    <div class="profile grid-row-span-2 profile-card">

      <div class="profile-up">

        <div class="profile-avatar">
          <%= cl_image_tag current_user.photo.key %>
        </div>

        <div class="profile-details">

          <h3><%=@user.email%></h3>
          <p>Size of your capy fleet: <b><%=@user.capybaras.size%></b></p>
          <p>You booked <b><%=@user.bookings.size%></b> capybaras so far!</p>
          <% sum = 0 %>
          <% @user.capybaras.each { |capybara| sum += capybara.bookings.size} %>
          <p>You rented out <b><%=sum%></b> capybaras so far!</p>
        </div>
      </div>

      <div class="capybara-details">
        <h3>Your capybaras:</h3>
        <div class="capybara-icons">
          <% @capybaras.each do |capybara| %>
            <%= link_to capybara_path(capybara), class: "capybara-link" do %>
              <%= cl_image_tag capybara.photo.key %>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>

    <div class="profile-card manage-products">
      <div class="manage-container">
        <img src="assets/capy-icon.png" alt="capybara icon" width="70" height="70">
        <p>Grow and expand your capybara fleet</p>
      </div>
      <a class="btn btn-success btn-lg" href="<%=new_capybara_path%>">Add new capybara</a>
    </div>

    <div class="profile-card manage-bookings">
      <div class="manage-container">
        <img src="assets/calendar.png" alt="calendar icon" width="70" height="70">
        <p>Get an overview of all your bookings</p>
      </div>
      <a class="btn btn-success btn-lg" href="<%=bookings_path%>">Manage bookings</a>
    </div>

  </div>
</div>
