<%= render 'components/navbar' %>
<h2 class='section-headline'>Your bookings:</h2>
<div class="booking-container">
  <% @bookings.each do |booking| %>
    <div class="booking">
      <div class="booking-header">
        <%= image_tag "tick.svg", alt: "calendar icon", class: "corner-icon", width: 70, height: 70 %>
        <%= link_to capybara_path(booking.capybara), class: "capybara-link capybara-icons" do %>
          <%= cl_image_tag booking.capybara.photo.key %>
        <% end %>

        <h4><%=booking.capybara.name%></h4>
      </div>

      <p>📆 <%=booking.date.strftime("%d %B %Y")%></p>
      <p>💰 <%=booking.capybara.price%>€</p>

    </div>
  <% end %>
</div>
