<%= render 'components/navbar' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path "banner.jpg"%>);">
  <div class="container">
    <h1> <strong>CapyRent</strong></h1>
    <p>Rent your friendly capybara!</p>
    <a class="btn btn-success btn-lg" href="<%=capybaras_path%>">Meet your new fluffy friend!</a>
  </div>
</div>
<div class="cards-conatiner">

  <h2 class='section-headline'>Cutest capybaras from your area:</h2>

  <div class="cards-home">

    <% @capybaras.each do |capybara| %>
      <div class="card-product">
        <%= cl_image_tag capybara.photo.key %>
        <div class="card-product-infos">
          <div>
            <h2><%= capybara.name %></h2>
            <p><%= capybara.description[0,45] + "..." %></p>
          </div>
          <h2 class="card-product-pricing"><%= capybara.price.to_s + "€ /day" %></h2>
        </div>
      </div>
    <% end %>

  </div>
  <!-- JS animations -->
  <script>
    ScrollReveal().reveal('.section-headline');
		ScrollReveal().reveal('.card-product');
	</script>
</div>
