<%= render 'components/navbar' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path "banner.jpg"%>);">
  <div class="container">
    <h1> <strong>CapyRent</strong></h1>
    <p>Rent your friendly capybara!</p>
    <a class="btn btn-success btn-lg" href="<%=capybaras_path%>">Meet your new fluffy friend!</a>
  </div>
</div>
<div class="cards-conatiner">

  <h2 class='section-headline'>Cutest capybaras from your area:</h2>

  <div class="cards">

    <div class="card-product">
      <img src="<%= image_path "capy1.jpg"%>" />
      <div class="card-product-infos">
        <div>
          <h2>Capper</h2>
          <p>Always smiling, always happy</p>
        </div>
        <h2 class="card-product-pricing">€29.99</h2>
      </div>
    </div>

    <div class="card-product">
      <img src="<%= image_path "capy2.jpg"%>" />
      <div class="card-product-infos">
        <div>
          <h2>The Cap</h2>
          <p>A bit stubburn, but lovable anyways</p>
        </div>
        <h2 class="card-product-pricing">€15.99</h2>
      </div>
    </div>

    <div class="card-product">
      <img src="<%= image_path "capy3.jpg"%>" />
      <div class="card-product-infos">
        <div>
          <h2>Tommy and Pam</h2>
          <p>Rent capybara, get cat for free</p>
        </div>
        <h2 class="card-product-pricing">€50</h2>
      </div>
    </div
  </div>
  <!-- JS animations -->
  <script>
    ScrollReveal().reveal('.section-headline');
		ScrollReveal().reveal('.card-product');
	</script>
</div>
