<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="<%= image_path "capy-logo.png"%>" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Register</a>
              <a class="dropdown-item" href="#">Log in</a>
              <a class="dropdown-item" href="#">My Profile</a>
              <a class="dropdown-item" href="#">Rent out your capybara</a>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
<h2 class='headline-index section-headline'>Meet the capybaras:</h2>
<div class="cards-container">
  <div class="cards">

    <div class="card-product">
      <img src="<%= image_path "capy2.jpg"%>" />
      <div class="card-product-infos">
        <div>
          <h2>capybara.name</h2>
          <p>capybara.description</p>
        </div>
        <h2 class="card-product-pricing">capybara.price</h2>
      </div>
    </div>

    <div class="card-product">
      <img src="<%= image_path "capy2.jpg"%>" />
      <div class="card-product-infos">
        <div>
          <h2>capybara.name</h2>
          <p>capybara.description</p>
        </div>
        <h2 class="card-product-pricing">capybara.price</h2>
      </div>
    </div>

    <div class="card-product">
      <img src="<%= image_path "capy2.jpg"%>" />
      <div class="card-product-infos">
        <div>
          <h2>capybara.name</h2>
          <p>capybara.description</p>
        </div>
        <h2 class="card-product-pricing">capybara.price</h2>
      </div>
    </div>

  </div>
</div>


    <% @capybaras.each do |capybara| %>
      <li>
        <div class="card-product">
          <img src="<%= image_path "capy1.jpg"%>">
            <div class="card-product-infos">
              <h2>CAPYNAME</h2>
              <p>CAPYDESCRIPTION</p>
            </div>
              <h2 class="card-product-pricing">CAPYPRICE</h2>
            </div>
        </div>
      </li>
    <% end %>
