<%= render 'components/navbar' %>
<h2 class='headline-index section-headline'>Meet the capybaras:</h2>

<div class="cards-container">
  <div class="cards">

    <% @capybaras.each do |capybara| %>
      <div class="card-product">
        <%= cl_image_tag capybara.photo.key %>
        <div class="card-product-infos">
          <div>
            <h2><%= capybara.name %></h2>
            <p><%= capybara.description[0,45] + "..." %></p>
          </div>
          <h2 class="card-product-pricing"><%= capybara.price.to_s + "€ /day" %></h2>
        </div>
      </div>
    <% end %>

  </div>
</div>
