<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="<%= image_path "capy-logo.png"%>" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="<%=new_user_registration_path%>">Register</a>
              <a class="dropdown-item" href="<%= new_user_session_path%>">Log in</a>
              <a class="dropdown-item" href="#">My Profile</a>
              <a class="dropdown-item" href="<%= new_capybara_path%>">Rent out your capybara</a>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
<h2 class='headline-index section-headline'>Share your capybara with the world!</h2>

<div class="new-capybara-form">
  <div class="form-centered">
    <%= simple_form_for(@capybara) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
        <%= f.input :price %>
       <%= f.input :photo, as: :file %>
      <%= f.submit 'Add your capybara', class: "booking-button btn btn-success"%>
    <% end %>
  </div>
  <img src="<%= image_path "capy4.jpg"%>" class="product-picture">
</div>
