<%= render 'components/_navbar' %>
<h2 class='headline-index section-headline'>Share your capybara with the world!</h2>

<div class="new-capybara-form">
  <div class="form-centered">
    <%= simple_form_for(@capybara) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
        <%= f.input :price %>
      <div class="booking-button btn btn-success"<%= f.submit %>>Add your capybara </div>
    <% end %>
  </div>
  <img src="<%= image_path "capy4.jpg"%>" class="product-picture">
</div>
