<%= render 'components/navbar' %>
<h2 class='section-headline'>Hello! I'm <%= @capybara.name %></h2>

<div class=" product-container-profile">

<div class="card-show">

  <div class="card-show-left">
    <%if @capybara.photo.attached? %>
      <%= cl_image_tag(@capybara.photo.key, class: 'product-picture-profile') %>
    <% else %>
      <%= image_tag("capy1.jpg", class: 'product-picture-profile' ) %>
    <% end %>
  </div>

  <div class="card-show-right">
    <div class="name">
      <h2>More about <%= @capybara.name %>:</h2>
      <p><%= @capybara.description %></p>
      <p>💰 <%= @capybara.price %> €/day</p>
      <p>📍 <%= @capybara.address %></p>
      <a class="back-button btn btn-success" href="<%= capybaras_path %>">Back to all capybaras</a>
    </div>
  </div>
</div>




   <div class="form-container">
    <h3>Rent this fluff!</h3>
    <div class="capy-icon-form">
      <%= image_tag "capy-icon.png", alt: "calendar icon", width: 70, height: 70 %>
    </div>
    <%= simple_form_for [@capybara, @booking] do |f| %>
      <%= f.input :date, html5: true %>
      <%= f.submit 'Book now', class: "booking-button btn btn-success"%>
    <% end %>
  </div>
</div>

     <%# <form class="form-horizontal">
     <legend>Book this fluff!</legend>
     <div class="form-group">
      <label class="col-md-4 control-label" for="bookdate">Date</label>
      <div class="col-md-8">
      <input id="bookdate" name="bookdate" type="text" placeholder="date" class="form-control input-md" required="">
      </div>
    </div>
    <a class="booking-button btn btn-success" href="#">Book now</a> %>
