<%= render 'components/navbar' %>
<h2 class='headline-index section-headline'>Meet the capybaras:</h2>

<div class=" product-container">


<%if @capybara.photo.attached? %>
  <%= cl_image_tag(@capybara.photo.key, class: 'product-picture') %>
<% else %>
  <%= image_tag("capy1.jpg", class: 'product-picture' ) %>
<% end %>

  <div class="name">
    <h1>Hello! I'm <%= @capybara.name %></h1>
    <p><%= @capybara.description %></p>
  </div>

   <div class="booking-form">
    <%= simple_form_for [@capybara, @booking] do |f| %>
      <%= f.input :date %>
      <%= f.submit 'Book now', class: "booking-button btn btn-success"%>
    <% end %>
  </div>
</div>

     <%# <form class="form-horizontal">
     <legend>Book this fluff!</legend>
     <div class="form-group">
      <label class="col-md-4 control-label" for="bookdate">Date</label>
      <div class="col-md-8">
      <input id="bookdate" name="bookdate" type="text" placeholder="date" class="form-control input-md" required="">
      </div>
    </div>
    <a class="booking-button btn btn-success" href="#">Book now</a> %>
