<%= render 'components/navbar' %>
<h2 class='headline-index section-headline'> <span class="showpage-title">Hello! I'm <%= @capybara.name %></span></h2>

<div class=" product-container-profile">


<%if @capybara.photo.attached? %>
  <%= cl_image_tag(@capybara.photo.key, class: 'product-picture-profile') %>
<% else %>
  <%= image_tag("capy1.jpg", class: 'product-picture-profile' ) %>
<% end %>

  <div class="name">
    <h1>More about <%= @capybara.name %>:</h1>
    <p><%= @capybara.description %></p>
    <p>Price: <%= @capybara.price %> €/day</p>
    <p>Where? <%= @capybara.address %></p>
    <a class="back-button btn btn-success" href="<%= capybaras_path %>">Back to all capybaras</a>
  </div>

   <div class="booking-form">
    <%= simple_form_for [@capybara, @booking] do |f| %>
      <%= f.input :date, html5: true %>
      <%= f.submit 'Book now', class: "booking-button btn btn-success"%>
    <% end %>
  </div>
</div>

     <%# <form class="form-horizontal">
     <legend>Book this fluff!</legend>
     <div class="form-group">
      <label class="col-md-4 control-label" for="bookdate">Date</label>
      <div class="col-md-8">
      <input id="bookdate" name="bookdate" type="text" placeholder="date" class="form-control input-md" required="">
      </div>
    </div>
    <a class="booking-button btn btn-success" href="#">Book now</a> %>
