<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="<%= image_path "capy-logo.png"%>" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="<%=new_user_registration_path%>">Register</a>
              <a class="dropdown-item" href="<%= new_user_session_path%>">Log in</a>
              <a class="dropdown-item" href="#">My Profile</a>
              <a class="dropdown-item" href="<%= new_capybara_path%>">Rent out your capybara</a>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
<h2 class='headline-index section-headline'>Meet the capybaras:</h2>

<div class=" product-container">

  <img src="<%= image_path "capy1.jpg"%>" class="product-picture">

  <div class="name">
    <h1>Hello! I'm <%= @capybara.name %></h1>
    <p><%= @capybara.description %></p>
  </div>

   <div class="booking-form">
    <%= simple_form_for [@capybara, @booking] do |f| %>
      raise!
      <%= f.input :date %>
      <div class="booking-button btn btn-success"><%= f.submit %></div>
    <% end %>
  </div>
</div>

     <%# <form class="form-horizontal">
     <legend>Book this fluff!</legend>
     <div class="form-group">
      <label class="col-md-4 control-label" for="bookdate">Date</label>
      <div class="col-md-8">
      <input id="bookdate" name="bookdate" type="text" placeholder="date" class="form-control input-md" required="">
      </div>
    </div>
    <a class="booking-button btn btn-success" href="#">Book now</a> %>
